
/* CSS Document */

font-family: 'DejaVu Sans Mono', monospace;

/* links */
a:link {
  color: rgb(0,206,209);

}
a:visited {
  color: rgb(147,112,219);
  }
a:hover {
  background-color: LightSalmon;
}


/* body */

body {
margin-left: 11em;
margin-right: 11em;
}

.responsive {
  width: 100%;
  height: auto;
}

/* type waterfall */

h1 {
	position: static;
	font-family: 'Lato,sans-serif', uppercase;
	font-size:10em;
	line-height: 1.25em;
	letter-spacing: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 30px;
	line-height: 0.8em;
	text-align: center;
	color: #f56942;
}
h2 {
	font-family: 'Garamond-serif';
	font-size:3em;
	line-height: 1.25em;
	letter-spacing: 0px;
	margin-left: 0px;
	margin-bottom: 0.5em;
	margin-top: 30px;
	line-height: 0.8em;
	text-align: center;
	color: #7a4f43;
}
	p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	column-count: 1;
	line-height: 20px;
	letter-spacing: 0.6px;
	margin-left: auto;
	margin-right: auto;
	color:  black;
	margin-top: 10px;
	margin-bottom: 25px;

}


/* all the div layers */

div {
	padding-top: 5em;
  padding-bottom: 5em;

}


.container {

width: 400px;
margin: 0 auto;

}


.container2 {

max-width: 600px;
margin: 0 auto;


}



.container3 {

width: 100px;
margin: 0 auto;

}

