
/* CSS Document */

.responsive {
  width: 100%;
  max-width: 1600px;
  height: auto;
}
	
body {

margin-left: 100px;
margin-right: 100px;
}

	p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	text-align: left;
	column-count: 1;
	line-height: 20px;
	letter-spacing: 0.6px;
	margin-left: 100px;
	color:  black;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 600px;
}
h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size:30px;
	font-style: bold;
	line-height: 50px;
	letter-spacing: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 30px;
	color: rgb(27.5,27.5,200);
}
h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	line-height: 10px;
	letter-spacing: 0px;
	margin-left: 0px;
	text-transform: uppercase;
	color: rgb(200,27.5,27.5);
	margin-top: 42px;
	margin-bottom: 5px;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 11px;
	letter-spacing: 0.8px;
	margin-left: 0px;
	text-transform: titlecase;
	color: rgb(102,102,180);
	margin-top: 20px;
	margin-bottom: 8px;

}


